body 
  {background: #cccccc;

}

p { 
    
    text-align: center;
}

em strong {color: #FF0000;}

#banner {
  width: 100%;
}

h1 {
  text-align: center;
}

#cavalos.jpg {
  width: 200px
  height: 100px 
}